**Question 1 : Explain the fundamental differences between DDL, DML, and DQL commands in SQL. Provide one example for each type of command.**

Answer:- DDL (Data Definition Language) commands are used to define or modify the structure of database objects such as tables, schemas, and indexes. These commands affect how data is stored rather than the data itself. DDL operations are usually auto-committed, meaning changes are saved immediately. Common DDL commands include CREATE, ALTER, DROP, and TRUNCATE.
Example:

CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Salary DECIMAL(10,2)
);


This command creates a new table named Employees.

DML (Data Manipulation Language) commands are used to manage and modify the data stored inside database tables. These commands allow users to insert, update, or delete records. Unlike DDL, DML changes can be rolled back if not committed. Common DML commands include INSERT, UPDATE, and DELETE.
Example:

INSERT INTO Employees (ID, Name, Salary)
VALUES (1, 'Rahul', 50000);


This command adds a new record to the Employees table.

DQL (Data Query Language) commands are used to retrieve data from the database. The primary DQL command is SELECT, which allows users to fetch specific records based on conditions.
Example:

SELECT * FROM Employees;


This command retrieves all records from the Employees table.

**Question 2 : What is the purpose of SQL constraints? Name and describe three common types of constraints, providing a simple scenario where each would be useful.**

Answer:- The purpose of SQL constraints is to apply rules on table columns to maintain the correctness, reliability, and consistency of data. They prevent invalid data entry and help enforce business rules at the database level.

1. PRIMARY KEY Constraint
A PRIMARY KEY uniquely identifies each record in a table. It does not allow duplicate or NULL values.
Scenario: In a Students table, the Student_ID column can be set as a PRIMARY KEY to ensure every student has a unique identification number.

2. FOREIGN KEY Constraint
A FOREIGN KEY establishes a relationship between two tables. It ensures that a value in one table matches an existing value in another table.
Scenario: In an Orders table, the Customer_ID column can be a FOREIGN KEY referencing the Customers table. This ensures orders are placed only by existing customers.

3. NOT NULL Constraint
The NOT NULL constraint ensures that a column cannot store NULL (empty) values.
Scenario: In an Employees table, the Name column can be set as NOT NULL to ensure every employee record has a name.

These constraints improve data integrity and reduce errors in database systems.

**Question 3 : Explain the difference between LIMIT and OFFSET clauses in SQL. How would you use them together to retrieve the third page of results, assuming each page has 10 records?**

Answer:- The LIMIT clause in SQL is used to specify the maximum number of records that should be returned by a query. It restricts the result set to a fixed number of rows. On the other hand, the OFFSET clause is used to skip a specified number of rows before starting to return the results. It controls the starting point of the output.

When used together, LIMIT and OFFSET are commonly applied for pagination. For example, if each page contains 10 records and you want to retrieve the third page of results, you first calculate how many records need to be skipped. The formula is: (Page number − 1) × Records per page. For the third page, this becomes (3 − 1) × 10 = 20. This means you must skip the first 20 records.

So, you would use LIMIT 10 OFFSET 20. This skips the first 20 rows and then returns the next 10 rows, which represent the third page of results.

**Question 4 : What is a Common Table Expression (CTE) in SQL, and what are its main benefits? Provide a simple SQL example demonstrating its usage**

Answer:- A Common Table Expression (CTE) in SQL is a temporary named result set that is defined using the WITH keyword and exists only for the duration of a single query. It allows you to create a logical, reusable subquery that can be referenced within a SELECT, INSERT, UPDATE, or DELETE statement. Unlike a permanent table, a CTE is not stored in the database; it is created and used only while the query runs.

The main benefit of a CTE is improved readability. Complex queries with multiple joins or subqueries become easier to understand because the logic is separated into clear steps. Another advantage is better maintainability, as changes can be made inside the CTE without modifying the entire query. CTEs also support recursion, which is useful for hierarchical data such as organizational structures.

For example, suppose we want to retrieve employees earning more than the average salary:

WITH AvgSalary AS (
    SELECT AVG(Salary) AS Average_Salary FROM Employees
)
SELECT *
FROM Employees, AvgSalary
WHERE Employees.Salary > AvgSalary.Average_Salary;


In this example, the CTE calculates the average salary first, and then the main query uses it to filter employees earning above average.

**Question 5 : Describe the concept of SQL Normalization and its primary goals. Briefly explain the first three normal forms (1NF, 2NF, 3NF).**

Answer:- SQL Normalization is a database design technique used to structure tables in a way that minimizes data duplication and prevents anomalies during insert, update, or delete operations. The primary goals of normalization are to eliminate redundant data, ensure data dependency is logical, and improve overall consistency and efficiency of the database.

First Normal Form (1NF) requires that a table contains only atomic (indivisible) values and that each column holds a single value. It also requires that each record be unique. For example, a table should not store multiple phone numbers in one column; instead, each phone number should be stored in a separate row.

Second Normal Form (2NF) builds on 1NF and requires that all non-key attributes are fully dependent on the entire primary key. It mainly applies to tables with composite primary keys. This means partial dependency should be removed. For example, in a table with Student_ID and Course_ID as a composite key, student name should depend only on Student_ID, so it should be stored separately.

Third Normal Form (3NF) builds on 2NF and requires that there are no transitive dependencies. Non-key attributes should depend only on the primary key, not on other non-key attributes. This ensures better data integrity and reduces redundancy.

CREATE DATABASE ECommerceDB;
USE ECommerceDB;

-- Categories Table
CREATE TABLE Categories (
    CategoryID INT PRIMARY KEY,
    CategoryName VARCHAR(50) NOT NULL UNIQUE
);

-- Products Table
CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(100) NOT NULL UNIQUE,
    CategoryID INT,
    Price DECIMAL(10,2) NOT NULL,
    StockQuantity INT,
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID)
);

-- Customers Table
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(100) NOT NULL,
    Email VARCHAR(100) UNIQUE,
    JoinDate DATE
);

-- Orders Table
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE NOT NULL,
    TotalAmount DECIMAL(10,2),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);



-- Insert into Categories
INSERT INTO Categories VALUES
(1, 'Electronics'),
(2, 'Books'),
(3, 'Home Goods'),
(4, 'Apparel');

-- Insert into Products
INSERT INTO Products VALUES
(101, 'Laptop Pro', 1, 1200.00, 50),
(102, 'SQL Handbook', 2, 45.50, 200),
(103, 'Smart Speaker', 1, 99.99, 150),
(104, 'Coffee Maker', 3, 75.00, 80),
(105, 'Novel : The Great SQL', 2, 25.00, 120),
(106, 'Wireless Earbuds', 1, 150.00, 100),
(107, 'Blender X', 3, 120.00, 60),
(108, 'T-Shirt Casual', 4, 20.00, 300);

-- Insert into Customers
INSERT INTO Customers VALUES
(1, 'Alice Wonderland', 'alice@example.com', '2023-01-10'),
(2, 'Bob the Builder', 'bob@example.com', '2022-11-25'),
(3, 'Charlie Chaplin', 'charlie@example.com', '2023-03-01'),
(4, 'Diana Prince', 'diana@example.com', '2021-04-26');

-- Insert into Orders
INSERT INTO Orders VALUES
(1001, 1, '2023-04-26', 1245.50),
(1002, 2, '2023-10-12', 99.99),
(1003, 1, '2023-07-01', 145.00),
(1004, 3, '2023-01-14', 150.00),
(1005, 2, '2023-09-24', 120.00),
(1006, 1, '2023-06-19', 20.00);

**Question 7 : Generate a report showing CustomerName, Email, and the TotalNumberofOrders for each customer. Include customers who have not placed any orders, in which case their TotalNumberofOrders should be 0. Order the results by CustomerName.**

Answer:- SELECT
    c.CustomerName,
    c.Email,
    COUNT(o.OrderID) AS TotalNumberOfOrders
FROM Customers c
LEFT JOIN Orders o
    ON c.CustomerID = o.CustomerID
GROUP BY c.CustomerID, c.CustomerName, c.Email
ORDER BY c.CustomerName;


Explanation:

This query uses a LEFT JOIN to ensure that all customers are included in the result, even if they have not placed any orders. If a customer has no matching records in the Orders table, the OrderID will be NULL, and COUNT(o.OrderID) will return 0 for that customer.

The GROUP BY clause groups the results by each customer so that the total number of orders can be calculated using the COUNT() function.

Finally, the ORDER BY CustomerName clause sorts the report alphabetically by customer name.

This report will display each customer’s name, email, and their total number of orders, including customers with zero orders.

**Question 8 : Retrieve Product Information with Category: Write a SQL query to display the ProductName, Price, StockQuantity, and CategoryName for all products. Order the results by CategoryName and then ProductName alphabetically.**

Answer:- SELECT
    p.ProductName,
    p.Price,
    p.StockQuantity,
    c.CategoryName
FROM Products p
INNER JOIN Categories c
    ON p.CategoryID = c.CategoryID
ORDER BY c.CategoryName ASC, p.ProductName ASC;


Explanation:

This query uses an INNER JOIN to combine the Products and Categories tables based on the CategoryID. This allows us to display the CategoryName along with each product’s details.

The ORDER BY clause first sorts the results alphabetically by CategoryName, and then within each category, it sorts the products alphabetically by ProductName.

The final output will show each product’s name, price, stock quantity, and its corresponding category, properly ordered as requested.

**Question 9 : Write a SQL query that uses a Common Table Expression (CTE) and a Window Function (specifically ROW_NUMBER() or RANK()) to display the CategoryName, ProductName, and Price for the top 2 most expensive products in each CategoryName.**

Answer:- WITH RankedProducts AS (
    SELECT
        c.CategoryName,
        p.ProductName,
        p.Price,
        ROW_NUMBER() OVER (
            PARTITION BY c.CategoryName
            ORDER BY p.Price DESC
        ) AS RankInCategory
    FROM Products p
    INNER JOIN Categories c
        ON p.CategoryID = c.CategoryID
)

SELECT
    CategoryName,
    ProductName,
    Price
FROM RankedProducts
WHERE RankInCategory <= 2
ORDER BY CategoryName, Price DESC;

Explanation:

The CTE (RankedProducts) first joins the Products and Categories tables to combine product details with their category names.

The ROW_NUMBER() window function assigns a ranking to each product within its category using PARTITION BY CategoryName. The products are ordered by Price DESC, so the most expensive product in each category gets rank 1.

Finally, the outer query filters the results using WHERE RankInCategory <= 2 to return only the top 2 most expensive products in each category. The results are ordered by CategoryName and then by Price in descending order.

Question 10 : You are hired as a data analyst by Sakila Video Rentals, a global movie
rental company. The management team is looking to improve decision-making by
analyzing existing customer, rental, and inventory data.
Using the Sakila database, answer the following business questions to support key strategic
initiatives.
Tasks & Questions:
1. Identify the top 5 customers based on the total amount they’ve spent. Include customer
name, email, and total amount spent.
2. Which 3 movie categories have the highest rental counts? Display the category name
and number of times movies from that category were rented.
3. Calculate how many films are available at each store and how many of those have
never been rented.
4. Show the total revenue per month for the year 2023 to analyze business seasonality.
5. Identify customers who have rented more than 10 times in the last 6 months.

Below are the SQL queries using the Sakila database to answer each business question.

1️⃣ Top 5 Customers by Total Amount Spent
SELECT
    CONCAT(c.first_name, ' ', c.last_name) AS CustomerName,
    c.email,
    SUM(p.amount) AS TotalAmountSpent
FROM customer c
JOIN payment p
    ON c.customer_id = p.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name, c.email
ORDER BY TotalAmountSpent DESC
LIMIT 5;

2️⃣ Top 3 Movie Categories by Rental Count
SELECT
    cat.name AS CategoryName,
    COUNT(r.rental_id) AS RentalCount
FROM category cat
JOIN film_category fc
    ON cat.category_id = fc.category_id
JOIN inventory i
    ON fc.film_id = i.film_id
JOIN rental r
    ON i.inventory_id = r.inventory_id
GROUP BY cat.category_id, cat.name
ORDER BY RentalCount DESC
LIMIT 3;

3️⃣ Films Available at Each Store & Never Rented
SELECT
    s.store_id,
    COUNT(i.inventory_id) AS TotalFilms,
    SUM(CASE WHEN r.rental_id IS NULL THEN 1 ELSE 0 END) AS NeverRented
FROM store s
JOIN inventory i
    ON s.store_id = i.store_id
LEFT JOIN rental r
    ON i.inventory_id = r.inventory_id
GROUP BY s.store_id;

4️⃣ Total Revenue Per Month for 2023
SELECT
    MONTH(payment_date) AS Month,
    SUM(amount) AS MonthlyRevenue
FROM payment
WHERE YEAR(payment_date) = 2023
GROUP BY MONTH(payment_date)
ORDER BY Month;

5️⃣ Customers with More Than 10 Rentals in Last 6 Months
SELECT
    CONCAT(c.first_name, ' ', c.last_name) AS CustomerName,
    c.email,
    COUNT(r.rental_id) AS RentalCount
FROM customer c
JOIN rental r
    ON c.customer_id = r.customer_id
WHERE r.rental_date >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
GROUP BY c.customer_id, c.first_name, c.last_name, c.email
HAVING COUNT(r.rental_id) > 10
ORDER BY RentalCount DESC;